<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242816849-c3g1jl0ff9msok1abcde2oq6sns9g7mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242816849-c3g1jl0ff9msok1abcde2oq6sns9g7mo</string>
	<key>API_KEY</key>
	<string>AIzaSyA4pOUHBL4dez4WuQvRXnWK8kv4NcvbgeI</string>
	<key>GCM_SENDER_ID</key>
	<string>242816849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nidshub.shipoffers</string>
	<key>PROJECT_ID</key>
	<string>ship-offers</string>
	<key>STORAGE_BUCKET</key>
	<string>ship-offers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242816849:ios:dd193c668023d5edbaa570</string>
</dict>
</plist>